.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget-message {
  width: 100%;
  color: $off-white;
  margin: $s-size;
  font-style: italic;
}
